.circle1 {
    animation: circle1 1.8s ease-in-out infinite;
}

/* @keyframes circle1 {
    0%, 44% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.7;
        transform: translateX(30%);
    }

    44% {
        opacity: 0.8;
        transform: translateX(50%);
    }

    74% {
        opacity: 0.8;
        transform: translateX(80%);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
} */

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.particle {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}