/* .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
} */

.particle {
    position: absolute;
    background: #92400e;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
}

.dark .particle {
    background: white;
}