html {
  scrollbar-width: thin;
  scrollbar-color: #a6633a transparent;
}

html.dark {
  scrollbar-color: #ebb207 transparent;
}

.home {
  --color-light: rgba(180, 160, 130, 0.15);
  --color-dark: rgba(114, 114, 114, 0.3);
  background-color: #f5f0eb;
  background-image: linear-gradient(0deg, transparent 24%, var(--color-light) 25%, var(--color-light) 26%, transparent 27%, transparent 74%, var(--color-light) 75%, var(--color-light) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, var(--color-light) 25%, var(--color-light) 26%, transparent 27%, transparent 74%, var(--color-light) 75%, var(--color-light) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
  transition: background-color 0.5s ease, background-image 0.5s ease;
}

.dark .home {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, var(--color-dark) 25%, var(--color-dark) 26%, transparent 27%, transparent 74%, var(--color-dark) 75%, var(--color-dark) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, var(--color-dark) 25%, var(--color-dark) 26%, transparent 27%, transparent 74%, var(--color-dark) 75%, var(--color-dark) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.swiper-button-prev {
  position: absolute !important;
  top: 8vw !important;
  left: 2px !important;
}

.swiper-button-next {
  position: absolute !important;
  top: 8vw !important;
  right: 2px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #111;
  background-color: #e8e0d8;
  padding: 30px !important;
  border-radius: 50% !important;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
}

.dark .swiper-button-next, .dark .swiper-button-prev {
  background-color: #444;
  box-shadow: -1px 1px 3px 0px #111;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  transform: scale(1.05);
  background-color: #ddd5cc;
}

.dark .swiper-button-next:hover, .dark .swiper-button-prev:hover {
  background-color: #555;
}

.swiper-button-next:active, .swiper-button-prev:active {
  transform: scale(1.05);
  background-color: #d4ccc3;
}

.dark .swiper-button-next:active, .dark .swiper-button-prev:active {
  background-color: #666;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #444;
  font-size: 20px !important;
  font-weight: 400 !important;
}

.dark .swiper-button-prev::after, .dark .swiper-button-next::after {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #92400e !important;
}

.dark .swiper .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #92400e !important;
}

.dark .swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal {

}

.swiper-pagination-horizontal {
  position: relative !important;
}

@media (max-width: 1024px) {
  .swiper-button-next, .swiper-button-prev {
    padding: 0px 22px !important;
    border-radius: 50% !important;
    margin: 0px !important;

    top: 6vw !important;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 10px !important;
  }
}

@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    top: 8vw !important;
  }
}

/* Dark & Light mode */
.show {
  display: flex !important;
  visibility: visible !important;
}

.not-show {
  display: hidden !important;
  visibility: hidden !important;
}