html {
  scrollbar-width: thin;
  scrollbar-color: #ebb207 transparent;
}

.home {
  /* width: 100%; */
  /* height: 100%; */
  --color: rgba(114, 114, 114, 0.3);
  /* background-color: #111; */
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.swiper-button-prev {
  position: absolute !important;
  top: 8vw !important;
  left: 2px !important;
}

.swiper-button-next {
  position: absolute !important;
  top: 8vw !important;
  right: 2px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #111;
  background-color: #444;
  padding: 30px !important;
  border-radius: 50% !important;
  box-shadow: -1px 1px 3px 0px #111;
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  transform: scale(1.05);
  background-color: #555;
}

.swiper-button-next:active, .swiper-button-prev:active {
  transform: scale(1.05);
  background-color: #666;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #fff;
  font-size: 20px !important;
  font-weight: 400 !important;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #059b5e !important;
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal {

}

.swiper-pagination-horizontal {
  position: relative !important;
}

@media (max-width: 1024px) {
  .swiper-button-next, .swiper-button-prev {
    padding: 0px 22px !important;
    border-radius: 50% !important;
    margin: 0px !important;

    top: 6vw !important;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 10px !important;
  }
}

@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    top: 8vw !important;
  }
}

/* Dark & Light mode */
.show {
  display: flex !important;
  visibility: visible !important;
}

.not-show {
  display: hidden !important;
  visibility: hidden !important;
}